body {
  background-image: url("https://www.solidbackgrounds.com/images/website/950x534/950x534-blue-abstract-noise-free-website-background-image.jpg" );
  background-position: right top;
  background-attachment: fixed;
}
h1 {
    font-family: "Georgia";
    font-size: 30px;
    color: black;
    text-align: center;
}
.header {
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 0px;
    }

.nav {
    margin-top: 40px;
    height: 40px;
    background: lightgrey;
    
   }
.nav ul {
      margin: 0;
      padding: 0;
}

.nav ul li {
   list-style: none; 
}
.nav ul li a{
    text-decoration: underline;
    text-decoration-style: solid;
    float: left;
    display: block;
    padding: 10px 20px ;
    font-family: "Georgia";
    font-size: 18px;
    color: black;
}

.nav ul li a:hover 
  { color: white; }  
  
#img1 {
    margin: 20px;
    margin-left: 0px;
}


#pupinfo {
    margin-right: 300px;
    float:  left;
    display:block;
}

#pupinfo2 {
    margin-left: 460px;
    float: right;
    display:block;
    border: solid;
    text-align: center;
}
#family {
   width: 350px;
   height: 200px; 
}
